name: Nix Checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Check
    strategy:
      matrix:
        platform:
          # see about runners: https://docs.github.com/en/actions/writing-workflows/choosing-where-your-workflow-runs/choosing-the-runner-for-a-job#standard-github-hosted-runners-for-public-repositories
          - ubuntu-latest # x64 linux
          - ubuntu-24.04-arm # arm linux
          - macos-15-intel # x64 macOS
          - macos-latest # arm macOS
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix flake check
